.ssh/
config/xournalpp/

config/chromium/
!config/chromium/Default/preferences

config/fcitx5/
!config/fcitx5/conf/xcb.conf

config/btop/themes/

config/nvim/lua/plugins/theme.lua

config/ssh/.ssh/known_hosts*
config/walker/themes/

config/systemd/
config/sunshine/
!config/sunshine/sunshine.conf

config/windows
config/omarchy

config/hypr/shaders/
config/calcure/*
!config/calcure/config.ini

config/opencode/*
!config/opencode/README.md
!config/opencode/oh-my-opencode.json
!config/opencode/oh-my-openagent.json
!config/opencode/opencode.json
!config/opencode/opencode.jsonc
!config/command/**

__pycache__/*

config/herdr/*
!config/herdr/config.toml
!config/herdr/plugins/
config/herdr/plugins/*
!config/herdr/plugins/config/
config/herdr/plugins/config/*
!config/herdr/plugins/config/persiyanov.reviewr/
config/herdr/plugins/config/persiyanov.reviewr/*
!config/herdr/plugins/config/persiyanov.reviewr/config.toml

.omo/
